 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
 
 body {
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 16px;
 }

/* ======= CSS Variables ======== */
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --title-color: #0e132a;
    --secondary-color: #161e46;
    --text-light-gray: #a4acc3;
    --text-medium-gray: #9fa6bd;
    --text-dark-gray: #868c98;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

/* ======= General Styles ======== */
a,
span,
button,
input {
    display: inline-block;
}
button {
    cursor: pointer;
}
button,
fieldset {
    border: none;

}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* ===== Global container ====== */
.container {
    width: 95%;
    max-width: var(--breakpoint-xl);
    margin: 0 auto;
}

/* ===== Btn ====== */
.btn {
    text-transform: uppercase;
    border-radius: 5px;
    padding: 1rem 1.6rem;
}
.btn--bg-yellow {
    background-color: var(--orange);
}

/* ====== Header and navbar */
.header {
    background-blend-mode: multiply;
    background: url(/img/photo-1541888946425-d81bb19240f5.jpg), linear-gradient(to bottom left, #0e132a8f, var(--secondary-color));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 950px;
     
}
.header .header-bg-color {
    background-blend-mode: multiply;
    background-color: var(--title-color);
}

    /* ===== Header contact info and social media  ====== */
.header .header__container {
    border-bottom: 1px solid var(--secondary-color);
    color: var(--white);
}
.header .header__container .row {
    padding: 1rem 4rem;
}
.header .header__contact-info {
    font-style: normal;
    font-size: 0.9rem;
    font-weight: normal;
}
.header .header__social .header__social-list-item {
    padding-right: 1.6rem;
}
.header .header__social .header__social-list-link {
    color: var(--white);
}

    /* ==== Header menu btn and logo ===== */
.header .header__nav {
    padding: 1.7rem 4rem;
}
.header .header__nav .header__nav-list-link {
    color: var(--white);
    padding-right: 1.8rem;
}

    /* ===== Header title ===== */
.header .header__text-box {
    padding-top: 15%;
}
.header .header__title {
    font-size: clamp(4rem, calc(10vw + 1rem), 12rem);
    color: #ff5f13;
    line-height: 0.7;
}
.header .header__title-anim {
    margin-left: clamp(2rem, calc(10vw + 1rem), 9rem);
}
.header .line-before::before {
    display: inline-block;
    content: "";
    width: 2rem;
    height: 3px;
    vertical-align: middle;
    background-color: #ff5f13;
}

/* ===== Services section ====== */
.services .service {
    background-color: darkblue;
    padding: 5rem;
    margin-bottom: 5rem;
}

/* ====== About us section ======= */
.about-us .about-us__text-container, .about-us__img {
    background-color: darkred;
    margin-right: 1rem;
    margin-bottom: 5rem;
    padding: 5rem;
    
}
.about-us .about-us__text-container {
    flex-basis: 40%;
    margin-left: 11rem;
}
.about-us .about-us__img {
    flex-basis: 60%;
}


/* ===== Projects ========= */
.projects .project {
    padding: 6rem;
    background-color: darkviolet;
     
}

/* ====== Our tem ======== */
.our-team .our-team__card {
    margin-top: 6rem;
    padding: 6rem;
    background-color: dodgerblue;
}

/* ======= Latest News ========= */
.latest-news .latest-news__card {
    margin-top: 6rem;
    padding: 6rem;
    background-color: darkorange;
}


/* ========= Foooter ========== */
.footer .footer__container {
    margin-top: 6rem;
    padding: 6rem;
    background-color: darkviolet;

}
 

/* ===== media queries ===== */

@media(max-width: 1200px) {
    .container {
        max-width: var(--breakpoint-lg);
    }
}

@media(max-width: 990px){
    .container {
        max-width: var(--breakpoint-md);
    }
    .grid-column-md-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .flex-column {
        flex-direction: column;
    }
}

@media(max-width: 770px){
    .container {
        max-width: var(--breakpoint-sm);
    }
    .grid-column-sm-1 {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 580px) {
    .grid-column-xsm-1 {
        grid-template-columns: 1fr;;
    }
}






















 /* h1 {
    -webkit-text-stroke: 1px #fff;
    -webkit-text-fill-color: transparent;
    -webkit-tap-highlight-color: transparent;
    font-size: 8rem;
    font-weight: 100;
    line-height: 1;
    color: #fff;
    letter-spacing: 19px;
     
 } */
 